.userSettings{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    width: 200px;
    background-color: #F1EEEE;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button{
    border: 0;
    font-size: 17px;
    background-color: #F1EEEE;
}
.button:hover{
    border: solid 0.3px #c1bfbf;
}
.dots {
    margin: 12px 0;
    border: 0;
    width: 30px;
    height: 25px;
    background-image: radial-gradient(circle, black 2.2px, transparent 2.3px);
    background-size: 100% 33.33%;
    background-color: transparent;
  }
